body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
  font-family: "Quicksand", sans-serif;
}
/* header css starts here */

.header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  cursor: pointer;
}

.header-left {
  display: flex;
  flex: 1;
  background-color: #0d253f;
  gap: 2em;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  align-items: center;
}

.header-right {
  display: flex;
  flex: 1;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  background-color: #0d253f;
  gap: 2em;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  align-items: center;
  padding-right: 8px;
}

.header-left-movies,
.header-left-tv-shows,
.header-left-people,
.header-left-more {
  position: relative;
}

.header-left-movies > span,
.header-left-tv-shows > span,
.header-left-people > span,
.header-left-more > span {
  font-size: 16px;
  font-weight: 600;
}

.header-left-icon {
  padding-left: 30px;
}

.hover-movie-display,
.hover-tv-display,
.hover-people-display,
.hover-more-display {
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1em;
  white-space: nowrap;
  padding: 1em;
  display: none;
  color: #000;
  border-radius: 6px;
  width: 10em;
  cursor: pointer;
}

/* main css starts here */
.main {
  padding-bottom: 20px;
  /* background-image: url(/assets/images/realistic-studio-lights-empty-background-design_1017-27233.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px;

  background-color: #2196f3;
  background-size: cover; */
  background-color: whitesmoke;
}
.click-search {
  display: flex;
  width: 80%;
  background-color: white;
  box-sizing: border-box;
  border-radius: 100px;
  margin-left: 42px;
  border: 1px solid silver;
}
.text {
  padding: 4em 0 0 2.5em;
}

.text span {
  color: #2196f3;
  font-size: 56px;
  font-weight: 600;
}

.text p {
  color: #2196f3;
  /* font-size: 56px; */
  font-weight: 600;
}

#search {
  flex: 0.8;
  margin-left: 20px;
  border: none;
  outline: none;
  padding: 18px;
  border-radius: 50px;
}

#click-search-button {
  flex: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2196f3;
  border-radius: 135px;
  height: 3.2rem;
  box-shadow: 1px 1px 2px 1px #3f51b5;
}
.main-whats-popular,
.main-free-to-watch {
  display: flex;
  margin: 4em 2em 2em 2em;
  gap: 3em;
  align-items: center;
}
.main-whats-popular h2,
.main-free-to-watch-text h2 {
  margin: 0;
}

.main-whats-popular-section,
.main-free-to-watch-section {
  display: flex;
  gap: 2em;
  border: 1px solid black;
  /* padding: 10px; */
  border-radius: 10px;
  height: 30px;
  font-weight: 600;
  white-space: nowrap;
}

#main-whats-popular-section-streaming,
#main-whats-popular-section-on-tv,
#main-whats-popular-section-for-rent,
#main-whats-popular-section-in-theaters,
#main-free-to-watch-section-movies,
#main-free-to-watch-section-tv {
  background-color: white;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  width: 100px;
  cursor: pointer;
}
#main-whats-popular-section-streaming,
#main-free-to-watch-section-movies {
  background-color: #0d253f;
  color: #01b4e4;
  cursor: pointer;
}

#streaming-display,
#on-tv-display,
#for-rent-display,
#for-theatre-display,
#tv-display,
#movies-display {
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
  gap: 2em;
  padding: 1em;
}

#on-tv-display,
#for-rent-display,
#for-theatre-display,
#tv-display {
  display: none;
}

#display-search-result {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  margin-top: 22px;
}

.movie-image {
  height: 16em;
  width: 22em;
  object-fit: cover;
  border-radius: 18px;
}
.image-conatiner {
  position: relative;
}
.rating-container {
  position: absolute;
  bottom: 24px;
  background-color: white;
  left: 14px;
  width: 50px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.fa-solid {
  color: green;
}

/* footer section */
.footer {
  background-color: #0d253f;
  display: flex;
  justify-content: center;
  gap: 3em;
  padding-top: 3em;
  padding-bottom: 6em;
}

.footer-section-one_image {
  height: 8em;
  width: 8em;
}

.footer-section-one_text {
  color: #01b4e4;
  background-color: white;
  font-size: larger;
  display: inline-block;
  width: 13em;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
}
h3,
h5 {
  color: white;
}

.footer-section-one-image {
  display: flex;
  justify-content: center;
}

.footer-section-one-text {
  margin-top: 2em;
}

#home {
  cursor: pointer;
}

@media (max-width: 768px) {
  .header-right {
    display: none;
  }
  .main-whats-popular-section,
  .main-free-to-watch-section {
    gap: 0;
  }

  .footer {
    gap: 0;
    flex-direction: column;
    justify-content: center;
  }
  .footer-section-one_text {
    width: auto;
  }
  .main-whats-popular,
  .main-free-to-watch {
    gap: 0;
  }
  .footer-section-two,
  .footer-section-one,
  .footer-section-three,
  .footer-section-four,
  .footer-section-five {
    text-align: center;
  }
  #main-whats-popular-section-streaming,
  #main-whats-popular-section-on-tv,
  #main-whats-popular-section-for-rent,
  #main-whats-popular-section-in-theaters,
  #main-free-to-watch-section-movies,
  #main-free-to-watch-section-tv {
    width: auto;
  }
  .header-left {
    gap: 6px;
  }
  .header-left-icon {
    padding-left: 0;
  }
  .main-whats-popular,
  .main-free-to-watch {
    flex-direction: column;
  }
  .header-left-icon img {
    min-width: 80px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header-right {
    gap: 6px;
    flex: 0.8;
  }
  .header-left {
    gap: 6px;
  }
}
